{% extends "core/base.html" %}
{% load i18n %}

{% block title %} {{category}} {% endblock %}
{% block body %}
<div class="col d-flex justify-content-center">
<table  class="table table-striped table-dark w-75">
    <tbody>
    {% for sub in subcategories %}
    <tr>
        <td>
            <a href="{{request.get_full_path}}{{sub.slug}}" class="link-light"><div>{{sub.subcategory_name}}</div></a>
             <div>{{sub.subcategory_description}}</div>
        </td>
        <td>
            <div>{% trans 'Last post:' %}</div>
            {% if sub.get_topic_number != 0%}
            <div><small>Re: {{sub.get_last_topic.title}}</small></div>
            <div><small>{{sub.get_last_post.creation_date}}</small></div>
            <div><small>{% trans 'By ' %}{{sub.get_last_post.user.username}}</small></div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}