{% extends "core/base.html" %}
{% load i18n %}

{% block title %} {{category}} {% endblock %}
{% block body %}
<form action="" method="post", id="topic-form">
    <div class="col d-flex justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-white bg-dark mb-3">
                  {% trans 'Create Topic' %}
            </div>
            <div class="card-body">
                <div class="form-outline mb-3">
                    <label for="title">{% trans 'Title' %}</label>
                    <input type="text"
                           name="title"
                           class="form-control"
                           id="title">
                </div>

                <div class="form-outline mb-3">
                    <label for="text">{% trans 'Text' %}</label>
                    <input style="height:200px" type="text"
                           name="text"
                           class="form-control"
                           id="text">
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">{% trans 'Create Topic' %}</button>
            </div>
        </div>
    </div>
    </div>
</form>
{% endblock %}