{% extends "core/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Forum' %} {% endblock %}
{% block body %}
<div class="col d-flex justify-content-center">
<table  class="table table-striped table-dark w-75">
    <tbody>
    {% for category in categories %}
    <tr>
        <td>
        <div><a href="{{request.get_full_path}}{{category.slug}}" class="link-light">{{category.category_name}}</a></div>
            <div>{{category.category_description}}</div>
        </td>
        <td>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}