{% extends "core/base.html" %}
{% load i18n %}

{% block title %} {{subcategory}} {% endblock %}
{% block body %}
<div class="col d-flex justify-content-center">
<table  class="table table-striped table-dark w-75">
    <tbody>
    {% for topic in topics %}
    <tr>
        <td>
            <div><a href="{{request.get_full_path}}{{topic.id}}" class="link-light">{{topic.title}}</a> </div>
            <div>{% trans 'By ' %}{{topic.user.username}}</div>
        </td>
        <td>
            <div>{% trans 'Last post:' %}</div>
            <div><small>{{topic.get_last_post.creation_date}}</small></div>
            <div><small>{% trans 'By ' %}{{topic.get_last_post.user.username}}</small></div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>
         <div>{% csrf_token %}
             <button type="button" class="align-self-end btn btn-dark">
                 <a href="/{{ url }}" class="link-light">{% trans 'Create Topic' %}</a>
             </button>
         </div>
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>

</div>

{% endblock %}