
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device_width, initial-scale=1.0">
    {% load i18n %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %} {% endblock %}</title>


</head>
<body class ="text-white" style="background-color:black;">
{% include 'core/navbar.html' %}
<div class="container" style="height: 50px;">
    <style> .btn-group-xs > .btn, .btn-xs {
    padding: .3rem .3rem;
    font-size: .7rem;
    line-height: .3;
    border-radius: .3rem;
    }</style>
</div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>